.banner__title {
  font-size: 60px;
  margin-top: 10vh;
  text-align: center;
  font-family: 'Cinzel', sans-serif;
}
@media(max-width:1200px) {
  .banner__title {
    font-size: 50px;
  }
}
@media(max-width:600px) {
  .banner__title {
    font-size: 40px;
  }
}

.banner__subtitle {
  font-size: 40px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin-bottom: 10vh;
}
@media(max-width:1200px) {
  .banner__subtitle {
    font-size: 30px;
  }
}
@media(max-width:600px) {
  .banner__subtitle {
    font-size: 20px;
  }
}

.menu {
  text-align: center;
}

.menu__item {
  display: inline-block;
  list-style-type: none;
}

.menu__link {
  text-decoration: none;
  color: black;
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
}

@media(max-width: 1200px) {
  .menu__link {
    font-size: 16px;
  }
}
@media(max-width: 600px) {
  .menu__link {
    font-size: 14px;
  }
}

.menu__item :hover {
  font-weight: bold;
}

.back {
  display: block;
  font-size: 40px;
  position: fixed;
  top: 5%;
  left: 95%;
  z-index: 1;
  color: silver;
}
@media(max-width: 1200px) {
  .back {
    font-size: 30px;
  }
}
@media(max-width: 600px) {
  .back {
    font-size: 20px;
  }
}

.navbar {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: space-between;
  padding: 0.5rem 0.5rem;
  margin: 1% 8%;
}
