<a class="back" href="#"><i class="fas fa-angle-double-up"></i></a>

<nav class="menu">
  <ul class="menu__list navbar">
    <li class="menu__item nav-item"><a href="#" class="menu__link nav-link" routerLink="/portfolio">Portfolio</a>
    </li>

    <li class="menu__item nav-item dropdown">
      <a href="#" class="menu__link nav-link dropdown-toggle" routerLink="/reportaz" role="button" data-toggle="dropdown">Reportaż</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#" routerLink="/reportaz1">Chrzest</a>
        <a class="dropdown-item" href="#" routerLink="/reportaz2">Komunia</a>
        <a class="dropdown-item" href="#" routerLink="/reportaz3">Sesje ciążowe</a>
        <a class="dropdown-item" href="#" routerLink="/reportaz4">Sesje świąteczne</a>
      </div>
    </li>

    <li class="menu__item nav-item"><a href="#" class="menu__link nav-link" routerLink="/oferta">Oferta</a></li>
    <li class="menu__item nav-item"><a href="#" class="menu__link nav-link" routerLink="/cennik">Cennik</a></li>
    <li class="menu__item nav-item"><a href="#" class="menu__link nav-link" routerLink="/kontakt">Kontakt</a></li>

  </ul>
</nav>


<header class="banner">
  <h1 class="banner__title">Fotografia</h1>
  <h2 class="banner__subtitle">Monika Dzikowska</h2>
</header>
