.footer__copyright-info {
  color: black;
  text-align: center;
  margin-top: 120vh;
  padding: 10px;
  font-size: 18px;
  margin: 5vh auto;
}

@media(max-width:1200px) {
  .footer__copyright-info {
    font-size: 12px;
  }
}
