<section class="reportage">
  <h3 class="reportage__title article-title">Reportaż</h3>
  <ul class="reportage__list reportage__list--services">
    <li class="reportage__item">Chrzest</li>
    <li class="reportage__item">Komunia</li>
    <li class="reportage__item">Sesje ciążowe</li>
    <li class="reportage__item">Sesje świąteczne</li>
  </ul>

  <p class="reportage__motto">Fotografia okolicznościowa potrzebuje piękna i emocji. Obrazy są jedynie powrotem do ducha
    tamtych
    chwil, przypominają je zarówno Wam jak i Waszym bliskim. Staram się fotografować Wasze emocje, uśmiechy, przeżycia.
    Chcę sprawić by nieuchwytny czas najpiękniejszej chwili został zatrzymany dla Was w fotografiach.</p>

  <h3 class="reportage__title article-title">Chrzest</h3>
  <div class="reportage__foto clearfix">
    <div class="gallery gallery-columns-3">
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/21.jpg"><img src="assets/img/21.jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/22.jpg"><img src="assets/img/22.jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/23.jpg"><img src="assets/img/23.jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/24.jpg"><img src="assets/img/24.jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/25.jpg"><img src="assets/img/25.jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/26.jpg"><img src="assets/img/26.jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/27.jpg"><img src="assets/img/27.jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/28.jpg"><img src="assets/img/28.jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/29.jpg"><img src="assets/img/29.jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/30.jpg"><img src="assets/img/30.jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/31.jpg"><img src="assets/img/31.jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/32.jpg"><img src="assets/img/32.jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/33.jpg"><img src="assets/img/33.jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/34.jpg"><img src="assets/img/34.jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/45.jpg"><img src="assets/img/45.jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/46.jpg"><img src="assets/img/46.jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/47.jpg"><img src="assets/img/47.jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/48.jpg"><img src="assets/img/48.jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/49.jpg"><img src="assets/img/49.jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/50.jpg"><img src="assets/img/50.jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/51.jpg"><img src="assets/img/51.jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/52.jpg"><img src="assets/img/52.jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/53.jpg"><img src="assets/img/53.jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/54.jpg"><img src="assets/img/54.jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/55.jpg"><img src="assets/img/55.jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/56.jpg"><img src="assets/img/56.jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/57.jpg"><img src="assets/img/57.jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/58.jpg"><img src="assets/img/58.jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/73.jpg"><img src="assets/img/73.jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/74.jpg"><img src="assets/img/74.jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/75.jpg"><img src="assets/img/75.jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/76.jpg"><img src="assets/img/76.jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/77.jpg"><img src="assets/img/77.jpg" alt=""></a>
      </div>
    </div>
  </div>

  <h3 class="reportage__title article-title">Komunia</h3>
  <div class="reportage__foto clearfix">
    <div class="gallery gallery-columns-3">
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/64.jpg"><img src="assets/img/64.jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/65.jpg"><img src="assets/img/65.jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/66.jpg"><img src="assets/img/66.jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/67.jpg"><img src="assets/img/67.jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/68.jpg"><img src="assets/img/68.jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/69.jpg"><img src="assets/img/69.jpg" alt=""></a>
      </div>
    </div>
  </div>

  <h3 class="reportage__title article-title">Sesje ciążowe</h3>
  <div class="reportage__foto clearfix">
    <div class="gallery gallery-columns-3">
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/72.jpg"><img src="assets/img/72.jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/70.jpg"><img src="assets/img/70.jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/71.jpg"><img src="assets/img/71.jpg" alt=""></a>
      </div>
    </div>
  </div>

  <h3 class="reportage__title article-title">Sesje świateczne</h3>
  <div class="reportage__foto clearfix">
    <div class="gallery gallery-columns-3">
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/86.jpg"><img src="assets/img/86.jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/87.jpg"><img src="assets/img/87.jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/88.jpg"><img src="assets/img/88.jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/89.jpg"><img src="assets/img/89.jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/90.jpg"><img src="assets/img/90.jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/91.jpg"><img src="assets/img/91.jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/92.jpg"><img src="assets/img/92.jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/93.jpg"><img src="assets/img/93.jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/94.jpg"><img src="assets/img/94.jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/95.jpg"><img src="assets/img/95.jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/96.jpg"><img src="assets/img/96.jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/97.jpg"><img src="assets/img/97.jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/98.jpg"><img src="assets/img/98.jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/99.jpg"><img src="assets/img/99.jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/42.jpg"><img src="assets/img/42.jpg" alt=""></a>
      </div>
    </div>
  </div>
</section>
