<section class="reportage">
  <h3 class="reportage__title article-title">Reportaż</h3>

  <p class="reportage__motto">Fotografia okolicznościowa potrzebuje piękna i emocji. Obrazy są jedynie powrotem do ducha
    tamtych
    chwil, przypominają je zarówno Wam jak i Waszym bliskim. Staram się fotografować Wasze emocje, uśmiechy, przeżycia.
    Chcę sprawić by nieuchwytny czas najpiękniejszej chwili został zatrzymany dla Was w fotografiach.</p>

  <app-reportaz1></app-reportaz1>

  <app-reportaz2></app-reportaz2>

  <app-reportaz3></app-reportaz3>

  <app-reportaz4></app-reportaz4>

</section>
