  <section class="contact">
    <h3 class="contact__title article-title">Kontakt</h3>
    <div class="clearfix">
      <img class="slide contact__slide" src="assets/img/61.jpg" alt="">
    </div>
    <div class="text contact__text">
      <p class="contact__paragraph"><i class="fas fa-phone-volume contact__icon"></i><a class="contact__link"
          href="tel:+48505423821">505423821</a></p>
      <p class="contact__paragraph"><i class="far fa-envelope contact__icon"></i><a class="contact__link"
          href="mailto:monika.kikowska@orange.pl">monika.kikowska@orange.pl</a></p>
      <p class="contact__paragraph"><i class="fab fa-facebook contact__icon"></i><a class="contact__link"
          href="https://www.facebook.com/monika.kikowska.9">Facebook</a></p>
    </div>
  </section>
