.contact__text{
  margin-top: 5vh;
}

.contact__icon {
  color: gray;
  font-size: 30px;
  padding: 7px;
  text-align: left;
  display: inline-block;
  margin-left: 20vw;
}

@media(max-width: 1200px) {
  .contact__icon {
    font-size: 20px;
  }
}

@media(max-width: 600px) {
  .contact__icon {
    font-size: 16px;
  }
}

.contact__paragraph {
  font-size: 18px;
  text-align: left;
  line-height: 20px;
}

@media(max-width: 1200px) {
  .contact__paragraph {
    font-size: 16px;
    line-height: 20px;
  }
}

@media(max-width: 600px) {
  .contact__paragraph {
    font-size: 12px;
    line-height: 18px;
  }
}

.contact__link {
  text-decoration: none;
  color: black;
}
