<div class="slider row">
    <div class=" col-4">
      <img src="assets/img/1.jpg" alt="" class="slider__img">
    </div>
    <div class=" col-4">
      <img src="assets/img/85.jpg" alt="" class="slider__img">
    </div>
    <div class=" col-4">
      <img src="assets/img/2.jpg" alt="" class="slider__img">
    </div>
  </div>


<!-- <div class="clearfix">
  <img class="slide offer__slide" src="assets/img/63.jpg" alt="">
</div> -->

<section class="offer">
  <h3 class="offer__title article-title">W ofercie</h3>
  <ul class="offer__list offer__list--services">
    <li class="offer__item">ślub (reportaż, plener)</li>
    <li class="offer__item">fotoksiążki</li>
    <li class="offer__item">sesje ciążowe</li>
    <li class="offer__item">sesje rodzinne</li>
    <li class="offer__item">chrzest (reportaż, plener)</li>
    <li class="offer__item">komunia (reportaż, plener)</li>
    <li class="offer__item">studniówki</li>
    <li class="offer__item">inne imprezy okolicznościowe</li>
  </ul>


  <h3 class="offer__title article-title">Sesja rodzinna, fotografia dziecięca, noworodkowa</h3>

  <p class="offer__paragraph">Fotografuję dzieci w każdym wieku. Od kilkutygodniowych maluszków, po starsze dzieciaczki.
    Informuję, że sesje
    noworodkowe najlepiej wykonać do 14 doby życia gdyż dziecko w tym okresie życia dużo śpi, co pozwala je ułożyć w
    niezwykłych pozach, które warto uwiecznić na zdjęciach.</p>
  <p class="offer__paragraph">Kolejnym momentem na wykonanie sesji niemowlęcej jest wiek, kiedy dziecko swobodnie trzyma
    główkę leżąc na brzuszku
    oraz siedzi (okres życia od 4 do 8 miesięcy). W tym czasie ruchy dziecka przestają być chaotyczne. Okres 7-9
    miesięcy to dobry czas, by fotografować dziecko już siedzące lub raczkujące. Jest to kolejny etap w jego rozwoju,
    szczególnie warty udokumentowania.</p>
  <p class="offer__paragraph">Spośród zdjęć zrobionych na sesji, mają Państwo możliwość wyboru ujęć, które będą poddane
    dalszej autorskiej
    obróbce. Przekazane zdjęcie są starannie wyselekcjonowane i przeze mnie obrobione.</p>

  <ul class="offer__list">Dostępne pakiety:
    <li class="offer__item">5 ujęć i więcej na płycie CD w eleganckim opakowaniu</li>
    <li class="offer__item">Zdjęcia poddane autorskiej obróbce, gotowe do wydruku</li>
    <li class="offer__item">Komplet odbitek w formacie 15x21cm</li>
    <li class="offer__item">Możliwość sesji w domu maluszka, by zapewnić komfort dziecku i rodzicom</li>
    <li class="offer__item">W okresie letnim możliwość wykonania sesji w plenerze</li>
    <li class="offer__item">W ofercie mam przygotowane rekwizyty dla urozmaicenia scenografii</li>
    <li class="offer__item">Możliwość zamówienia vouchera na sesję (np. prezent na roczek!!!)</li>
  </ul>

  <p class="offer__paragraph">Fotografia dziecięca, noworodkowa, sesja rodzinna to cudowna pamiątka zarówno dla Was jak
    i całej rodziny. Zdjęcia
    wykonane podczas takiej sesji uzupełnią galerię z innych wyjątkowych i pięknych chwil.</p>

  <h3 class="offer__title article-title">Sesja ciążowa</h3>

  <p class="offer__paragraph">Zdjęcia ciążowe to piękna pamiątka, która powinna się znaleźć w albumie każdej przyszłej
    mamy. Warto uwiecznić na
    zdjęciach ten piękny czas 9 miesięcy.
    Najlepszy czas na wykonanie sesji ciążowej to okres między 6 a 8 miesiącem ciąży.</p>

  <ul class="offer__list">Dostępne pakiety:
    <li class="offer__item">7 ujęć i więcej na płycie CD w eleganckim opakowaniu</li>
    <li class="offer__item">Zdjęcia poddane autorskiej obróbce, gotowe do wydruku</li>
    <li class="offer__item">Komplet odbitek w formacie 13x18cm</li>
    <li class="offer__item">Możliwość sesji w domu przyszłej mamy</li>
    <li class="offer__item">W okresie letnim możliwość wykonania sesji w plenerze</li>
    <li class="offer__item">Można wykorzystać przyniesione przez przyszłych rodziców rekwizyty (buciki, ubranka, zdjęcia
      USG)</li>
    <li class="offer__item">Możliwość zamówienia dodatkowych ujęć</li>
    <li class="offer__item">Możliwość zamówienia vouchera na sesję</li>
    <li class="offer__item">Dodatkowym atutem jest współpraca z profesjonalną makijażystką by dodatkowo podkreślić urodę
      i piękno przyszłej
      mamy</li>
  </ul>

  <ul class="offer__list">Dodatkowo:
    <li class="offer__item">Fotoupominki ze zdjęciem: kubek, koszulka, kalendarz itp.</li>
    <li class="offer__item">Fotoobrazy</li>
    <li class="offer__item">Zaproszenia podarunkowe na sesje</li>
    <li class="offer__item">Fotoksiążki</li>
    <li class="offer__item">Odbitki i wydruki zdjęć w dowolnych rozmiarach</li>
  </ul>

  <p class="offer__paragraph">Aktualne informacje na Facebooku. Warto polubić!</p>
</section>
