<h3 class="reportage__title article-title">Sesje świateczne</h3>
  <div class="reportage__foto clearfix">
    <div class="gallery gallery-columns-3">
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/86.jpg"><img src="assets/img/86.jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/87.jpg"><img src="assets/img/87.jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/88.jpg"><img src="assets/img/88.jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/89.jpg"><img src="assets/img/89.jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/90.jpg"><img src="assets/img/90.jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/91.jpg"><img src="assets/img/91.jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/92.jpg"><img src="assets/img/92.jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/93.jpg"><img src="assets/img/93.jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/94.jpg"><img src="assets/img/94.jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/95.jpg"><img src="assets/img/95.jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/96.jpg"><img src="assets/img/96.jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/97.jpg"><img src="assets/img/97.jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/98.jpg"><img src="assets/img/98.jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/99.jpg"><img src="assets/img/99.jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/42.jpg"><img src="assets/img/42.jpg" alt=""></a>
      </div>
    </div>
  </div>
