<h3 class="reportage__title article-title">Sesje świateczne</h3>
  <div class="reportage__foto clearfix">
    <div class="gallery gallery-columns-3">
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/swiateczne/swiateczne (1).jpg"><img src="assets/img/swiateczne/swiateczne (1).jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/swiateczne/swiateczne (2).jpg"><img src="assets/img/swiateczne/swiateczne (2).jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/swiateczne/swiateczne (3).jpg"><img src="assets/img/swiateczne/swiateczne (3).jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/swiateczne/swiateczne (4).jpg"><img src="assets/img/swiateczne/swiateczne (4).jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/swiateczne/swiateczne (5).jpg"><img src="assets/img/swiateczne/swiateczne (5).jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/swiateczne/swiateczne (6).jpg"><img src="assets/img/swiateczne/swiateczne (6).jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/swiateczne/swiateczne (7).jpg"><img src="assets/img/swiateczne/swiateczne (7).jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/swiateczne/swiateczne (8).jpg"><img src="assets/img/swiateczne/swiateczne (8).jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/swiateczne/swiateczne (9).jpg"><img src="assets/img/swiateczne/swiateczne (9).jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/swiateczne/swiateczne (10).jpg"><img src="assets/img/swiateczne/swiateczne (10).jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/swiateczne/swiateczne (11).jpg"><img src="assets/img/swiateczne/swiateczne (11).jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/swiateczne/swiateczne (12).jpg"><img src="assets/img/swiateczne/swiateczne (12).jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/swiateczne/swiateczne (13).jpg"><img src="assets/img/swiateczne/swiateczne (13).jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/swiateczne/swiateczne (14).jpg"><img src="assets/img/swiateczne/swiateczne (14).jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/swiateczne/swiateczne (15).jpg"><img src="assets/img/swiateczne/swiateczne (15).jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/swiateczne/swiateczne (16).jpg"><img src="assets/img/swiateczne/swiateczne (16).jpg" alt=""></a>
      </div>
    </div>
  </div>
