<h3 class="reportage__title article-title">Komunia</h3>
<div class="reportage__foto clearfix">
  <div class="gallery gallery-columns-3">
    <div class="gallery-item">
      <a data-lightbox="report" href="assets/img/64.jpg"><img src="assets/img/64.jpg" alt=""></a>
    </div>
    <div class="gallery-item">
      <a data-lightbox="report" href="assets/img/65.jpg"><img src="assets/img/65.jpg" alt=""></a>
    </div>
    <div class="gallery-item">
      <a data-lightbox="report" href="assets/img/66.jpg"><img src="assets/img/66.jpg" alt=""></a>
    </div>
    <div class="gallery-item">
      <a data-lightbox="report" href="assets/img/67.jpg"><img src="assets/img/67.jpg" alt=""></a>
    </div>
    <div class="gallery-item">
      <a data-lightbox="report" href="assets/img/68.jpg"><img src="assets/img/68.jpg" alt=""></a>
    </div>
    <div class="gallery-item">
      <a data-lightbox="report" href="assets/img/69.jpg"><img src="assets/img/69.jpg" alt=""></a>
    </div>
  </div>
</div>
