<h3 class="reportage__title article-title">Sesje ciążowe</h3>
  <div class="reportage__foto clearfix">
    <div class="gallery gallery-columns-3">
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/72.jpg"><img src="assets/img/72.jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/70.jpg"><img src="assets/img/70.jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/71.jpg"><img src="assets/img/71.jpg" alt=""></a>
      </div>
    </div>
  </div>
