<h3 class="reportage__title article-title">Sesje ciążowe</h3>
  <div class="reportage__foto clearfix">
    <div class="gallery gallery-columns-3">
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/ciazowe/ciazowe (1).jpg"><img src="assets/img/ciazowe/ciazowe (1).jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/ciazowe/ciazowe (2).jpg"><img src="assets/img/ciazowe/ciazowe (2).jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/ciazowe/ciazowe (3).jpg"><img src="assets/img/ciazowe/ciazowe (3).jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/ciazowe/ciazowe (4).jpg"><img src="assets/img/ciazowe/ciazowe (4).jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/ciazowe/ciazowe (5).jpg"><img src="assets/img/ciazowe/ciazowe (5).jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/ciazowe/ciazowe (6).jpg"><img src="assets/img/ciazowe/ciazowe (6).jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/ciazowe/ciazowe (7).jpg"><img src="assets/img/ciazowe/ciazowe (7).jpg" alt=""></a>
      </div>
      <div class="gallery-item">
        <a data-lightbox="report" href="assets/img/ciazowe/ciazowe (8).jpg"><img src="assets/img/ciazowe/ciazowe (8).jpg" alt=""></a>
      </div>
    </div>
  </div>
