* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

html {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
}

.slide {
  margin: 2vh 20vw;
  width: 60vw;
}


.article-title {
  padding: 10px;
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin: 10vh;
  font-family: 'Raleway', sans-serif;
}

@media(max-width:1200px) {
  .article-title {
    font-size: 18px;
  }
}

@media(max-width: 600px) {
  .article-title {
    font-size: 16px;

  }
}


/* galeria masonry */
.gallery {
  column-rule: 0px solid #eee;
  column-gap: 17px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.gallery.gallery-columns-3 {
  -webkit-column-count: 3;
  /* Chrome, Safari, Opera */
  -moz-column-count: 3;
  /* Firefox */
  column-count: 3;
}

@media only screen and (max-width: 1200px) {
  .gallery.gallery-columns-3 {
    -webkit-column-count: 2;
    /* Chrome, Safari, Opera */
    -moz-column-count: 2;
    /* Firefox */
    column-count: 2;
  }
}


@media only screen and (max-width: 768px) {
  .gallery.gallery-columns-3 {
    -webkit-column-count: 1;
    /* Chrome, Safari, Opera */
    -moz-column-count: 1;
    /* Firefox */
    column-count: 1;
  }
}


.gallery .gallery-item {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 17px;
  max-width: 100%;
  width: 100%;
}

.gallery .gallery-item img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  width: 100%;
}
